body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-bottom: 50px;
}

/**************************************** Start header area *************************************/
header {
    background-color: #7fce921e;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header .navbar a img {
    display: inline-block;
    width: 130px;
    height: 65px;

}

.nav-item {
    padding-right: 30px;
    font-size: 15px;
}

.nav-link {
    color: black;
}

.button-green {
    background-color: #29c479;
    color: white;
    border-radius: 20px;
    padding: 1.5% 8%;
}

.nav-link:hover {
    background-color: #29c479;
    color: white;
    border-radius: 20px;
}

/******************************* Start feature section ************************************/
.features .feature-img {
    width: 80px;
    height: 100px;
    margin-bottom: 25px;
}

.features .single-feature {
    background-color: #7fce921e;
    padding: 10% 0px;
    transition: box-shadow .5s ease;
    height: 90%;
}

.features .single-feature:hover {
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}

/******************************** Start Courses area ***************************************/
#courses .card .card-footer img {
    width: 20%;
}

.card {
    border: none;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
    transition: box-shadow .5s ease;
}

.card:hover {
    box-shadow: none;
}

.card .card-footer {
    border: none;
    background-color: white;
}

.card .card-footer span {
    font-size: 75%;
}

/******************************* Start testimonial area *************************************/
#testimonial .testimonial-content img {
    width: 40%;
}

#testimonial .testimonial-content p {
    width: 70%;
    display: inline-block;
}

.heading {
    margin: 6% 0;
}

/********************************* Start subscribe area **************************************/
.sub-content {
    height: 230px;
    width: 75%;
    background-color: #74639b;
    color: rgb(224, 211, 211);
}

.sub-content input {
    width: 40%;
}

/*********************************** Start footer  ******************************************/
footer {
    background-color: rgb(67, 67, 70);
    color: white;
    padding-top: 4%;
}

footer ul {
    list-style: none;
}

footer ul li:first-child {
    font-size: 20px;
    font-weight: 550;
}